# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Optional cache
.cache/
tmp/
temp/

# Editor/IDE
.vscode/
.idea/
*.swp

# Build files
dist/
build/

# Multer or other uploads
uploads/
public/uploads/

# Stripe CLI webhook secret
stripe-cli.log
stripe-event.log
stripe.log

# Coverage reports 
coverage/
.nyc_output/

# Misc
*.tgz
